@font-face {
  font-family: "Shrikhand";
  src: url("public/police/Shrikhand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("public/police/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
